html, body {
  height: 100%;
  width: 100%;
}
#first {
  padding-left:500px;
}
#others {
  padding-top: 200px;
  padding-left: 500px;
  position:absolute;
}
#addbutton {
  position:absolute;
  text-align: center;
  background-color:hotpink;
}